#div-searchbar {
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
}

#search-form {
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 35em;
	position: relative;
}

#div-search-bar-background {
	position: absolute;
	top: 0;
	left: 0;

	--search-bar-height: 50px;

	background-color: white;
	height: var(--search-bar-height);
	width: 100%;
	
	min-width: 243px;
	margin: 0;
	border-radius: var(--search-bar-height);
	z-index: -1;
}

#div-search-bar-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: row;
}

#div-search-bar-logo {
	align-content: center;
	justify-items: center;
	left: 0;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
}

#search-bar-logo-img {
	width: 34px;
}

#form-control {
	display: flex;

	height: 100%;
	border: none;
	background: rgba(0, 0, 0, 0);
	font-family: Poppins, Roboto, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	flex-grow: 1;
}

#form-control:focus-visible {
	outline: none;
}

#search-button {

	background: white;
	border-radius: 0px 25px 25px 0px;
	padding: 12px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50px;
	border: none;
}

.material-icons {
	/*color: red;*/
	background: black;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 34px;

	transition: all 10s ease-in;
	/*timing not working?*/
}

.search-button:hover .material-icons {
	background: linear-gradient(225deg, #04fffe 14.89%, #2ac870 85.85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	transition: all 10s ease-in;
	/*timing not working?*/
}