@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

:root {
	--page-margin: 8em;
}

html,
body {
	margin: 0;
	min-height: 100vh;
	min-width: 800px;
}

body {
	--main-radius: 10px;


	color: white;
	font-family: Poppins, Roboto, Verdana, Arial, Helvetica, sans-serif;
	/*background-image: url("assets/firewatch-2k.jpeg");*/
	background-color: #16161c;
	background-position: center;
	/*   uncomment the line below to add gradient heighlight background */
	/*background: linear-gradient(248.72deg, #545661 -36.29%, #16161c 50.47%);*/

	display: flex;
	flex-direction: column;
	justify-content: flex-start;

}

h1 {
	font-weight: 700;
	font-size: 120px;
	text-align: center;
	margin: 0em;

	background: linear-gradient(225deg, #04fffe 14.89%, #2ac870 85.85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

div {
	display: inline-block;
	height: fit-content;
}

#div-background-container {
	position: absolute;
	z-index: -1;
	min-height: 100vh;
}

#div-header {
	padding: 100px 0 100px 0;

	margin: 0 var(--page-margin) 0 var(--page-margin);
}

#div-main {

	margin: 0 var(--page-margin) 0 var(--page-margin);
	display: flex;
	flex-direction: column;
}

#div-footer {
	margin: 0;
	min-height: 100px;


	padding: 50px 100px 50px 100px;
	margin-top: auto;
	background-color: #1e1124;
}

#div-page-link-buttons {
	flex-direction: row;
	align-self: center;
	flex-wrap: wrap;
}


button {
	border-radius: var(--main-radius);
	font-family: Poppins, Roboto, Verdana, Arial, Helvetica, sans-serif;
	/*background: rgba(255, 255, 255, 0.23);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	border: 0px solid rgba(255, 255, 255, 0.01);*/
	cursor: pointer;

	/* From https://css.glass */
}

.svg-star {
	background-color: red;
	stroke-width: 10px;
}



#div-searchbar {
	height: 50px;
	position: relative;
	display: flex;
	justify-content: center;
	
}

.search-form {
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 35em;
	position: relative;
}

#div-search-bar-background {
	position: absolute;
	top: 0;
	left: 0;

	--search-bar-height: 50px;

	background-color: white;
	height: var(--search-bar-height);
	width: 100%;
	
	min-width: 243px;
	margin: 0;
	border-radius: var(--search-bar-height);
	z-index: -1;
}

#div-search-bar-content {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	
	display: flex;
	flex-direction: row;
}

#div-search-bar-logo {
	align-content: center;
	justify-items: center;
	left: 0;
	height: 100%;
	padding-left: 8px;
	padding-right: 8px;
}

#search-bar-logo-img {
	width: 34px;
}

.form-control {
	display: flex;

	height: 100%;
	border: none;
	background: rgba(0, 0, 0, 0);
	font-family: Poppins, Roboto, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
	flex-grow: 1;
}

.form-control:focus-visible {
	outline: none;
}

.search-button {

	background: white;
	border-radius: 0px 25px 25px 0px;
	padding: 12px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50px;
	border: none;
}

.material-icons {
	/*color: red;*/
	background: black;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 34px;

	transition: all 10s ease-in;
	/*timing not working?*/
}







.search-button:hover .material-icons {
	background: linear-gradient(225deg, #04fffe 14.89%, #2ac870 85.85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	transition: all 10s ease-in;
	/*timing not working?*/
}

.glass-button {
	color: antiquewhite;
	font-size: large;


	text-align: center;
	padding: 10px;

	width: 150;
	height: 150;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	border: 3px solid rgba(255, 255, 255, 0.3);
	transition: all 0.1s ease-in;
}

.glass-button:hover {
	background: rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in;
}

.page-link-button {
	width: 150px;
	height: 250px;
}

.blob {
	position: absolute;

}

#blob1 {
	left: 550px;
	top: 400px;
}