@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

body {
	--main-radius: 10px;


	color: white;
	font-family: Poppins, Roboto, Verdana, Arial, Helvetica, sans-serif;
	/*background-image: url("assets/firewatch-2k.jpeg");*/
	background-color: #16161c;
	background-position: center;

	height: 100%;
	margin: 0px;
	padding: 100px;

	/*   uncomment the line below to add gradient heighlight background */
	/*background: linear-gradient(248.72deg, #545661 -36.29%, #16161c 50.47%);*/
}

div {
	display: block;
}

#div-main {
	display: flex;
	flex-direction: column;
	
}

#div-page-link-buttons{
	flex-direction: row;
	align-self: center;
	flex-wrap: wrap;
}

h1 {
	font-weight: 700;
	font-size: 120px;
	text-align: center;

	background: linear-gradient(225deg, #04fffe 14.89%, #2ac870 85.85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

#div-footer {
	background-color: dimgray;
	min-height: 50px;
}

button {
	border-radius: var(--main-radius);
	font-family: Poppins, Roboto, Verdana, Arial, Helvetica, sans-serif;
	/*background: rgba(255, 255, 255, 0.23);
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(16px);
	-webkit-backdrop-filter: blur(16px);
	border: 0px solid rgba(255, 255, 255, 0.01);*/
	cursor: pointer;

	/* From https://css.glass */
}

.svg-star {
	background-color: red;
	stroke-width: 10px;
}


.material-icons {
	/*color: red;*/
	background: black;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 34px;

	transition: all 10s ease-in;
	/*timing not working?*/
}

.div-searchbar {
	height: 50px;
}

.search-form {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

.form-control:focus-visible {
	outline: none;
}

#div-search-bar-logo-background {
	height: 100%;
	width: 50px;
	background: white;
	align-items: center;
	justify-content: center;
	display: flex;

	border-radius: 25px 0px 0px 25px;
}

#search-bar-logo-img {
	width: 34px;
}

.form-control {
	display: flex;
	height: 100%;
	width: 500px;
	border: none;
	background: white;
	font-family: Poppins, Roboto, Verdana, Arial, Helvetica, sans-serif;
	padding: 0px;
}

.search-button {
	background: white;
	border-radius: 0px 25px 25px 0px;
	padding: 12px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 50px;
	border: none;
}

.search-button:hover .material-icons {
	background: linear-gradient(225deg, #04fffe 14.89%, #2ac870 85.85%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;

	transition: all 10s ease-in;
	/*timing not working?*/
}

.glass-button {
	color: antiquewhite;
	font-size: large;


	text-align: center;
	padding: 10px;

	width: 150;
	height: 150;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(50px);
	-webkit-backdrop-filter: blur(50px);
	border: 3px solid rgba(255, 255, 255, 0.3);
	transition: all 0.1s ease-in;
}

.glass-button:hover{
	background: rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in;
}

.page-link-button {
	width: 150px;
	height: 150px;
}

.blob {
	position: absolute;
	z-index: -1;
}

#blob1 {
	left: 550px;
	top: 400px;
}