

body {
	--main-radius: 10px;


	font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
	background-color: #fffd82;
	margin: 0px;
}

#body-home {
	background-color: #111111;
}

h1 {
	font-weight: bold;
	font-size: 80px;
}

#div-footer {
	background-color: dimgray;
	min-height: 50px;
}

button {
	min-height: 200px;
	min-width: 200px;
	border-radius: var(--main-radius);
}

.svg-star {
	background-color:red;
	stroke-width:10px;
}